<h1>Login to Art-T-Facts!</h1>
<form method="POST" action="/login">

    <input type="username" name="username" placeholder="Username"><br>
    <br>
    <input type="password" name="password" placeholder="Password"><br>
    <br>
    <input type="submit" value="Enter"><br>

</form>