<h2>Add new art supplies</h2>
<br>
<form action="" method="">
    <label>New Art Medium: <input type="text"></label><br>
    <label>Tools Needed: <input type="text"></label><br>
    <input type="submit">
</form>