<form action="/categories/<%= @category_id %>/supplies/new" method="POST">
    
    <h3>Add New Supplies</h3><br>
    <input type="text" name="medium" placeholder="Medium"><br><br>
    <input type="text" name="tools" placeholder="tools"><br><br>
    <input type="submit" value="Submit">

</form>