<h3>Need to make some changes?</h3>

<form action="/categories/<%= @category.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <p>Art Form: <input type="text" value="<%= category.art_form %>" name="art_form"></p><br>
    <br>
    <input type=submit name="Submit"><br>

</form>