<h1>Welcome Back, <%= current_user.name %>!</h1>

<p>Looking for some inspiration? Check out these art supplies!</p>
<br>
<% @categories.each do |category| %>
    <p> Art Form: <%= category.art_form %></p><br>
    <p> Medium: <%= category.medium %></p><br>
    <p> Tools: <%= category.tools %></p><br>
<% end %>
<br>

<form action="/logout" method="POST">
    <input type="submit" value="Log Out">
</form>