<h1>Category Creation</h1>

<form action='/categories/new' method="POST">
    Art Form: <input type="text" name="art_form"><br>
    <br>
    Medium: <input type="text" name="medium"><br>
    <br>
    Tools: <input type="text" name="tools"><br>
    <br>
    <input type=submit name="Submit">
</form>
