<h3>Add A Category</h3>

<form action="/categories" method="post">

    <p>Category: <input type="text" name="art_form"></p><br>
    <br>
    <input type=submit name="Submit"><br>

</form>
<br>
<a href="/categories"><button>Go Back</button></a><br>