<div class="container">

    <h1 class="welcome_title"> Art-T-Facts</h1>
    <img class="welcome_img" src="https://www.themonastery.co.uk/wp-content/uploads/2018/01/art-supplies-brushes-rulers-scissors-159644.jpg">

    <a href="/signup">New User? Sign Up Here!</a><br>
    <br>
    <a href="/login">Current User, Sign In Here!</a>
</div>