<div class="container">

    <h1 class="welcome_title"> Art-T-Facts</h1>
    <br>
    <img class="welcome_img" src="https://www.themonastery.co.uk/wp-content/uploads/2018/01/art-supplies-brushes-rulers-scissors-159644.jpg">
    <br>
    <a href="/users/signup">New User? Sign Up Here!</a><br>
    <br>
    <a href="/users/login">Current User, Sign In Here!</a>
</div>

<style>
    .container {
        margin-top: 100px;
        margin-bottom: 100px;

    }

    .welcome_title {
        color: rgb(240, 224, 156);
        border: 2px #869089;
        outline-style: auto;
        outline-color: rgb(240, 224, 156);
        outline-width: medium;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 60px;

    }

    .welcome_img {
        height: 65%;
        width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>